// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    // font-family: Calibri;
}
body{
    // background: #222;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf');
}
@font-face {
    font-family: 'Noto Bold';
    src: url('../fonts/NotoSans-Bold.ttf');
}
.qty-btn{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
//DASHBOARD
.popup-notif-parent{
    position: fixed;
    bottom: 0px;
    left: 85%;
    background: rgb(43, 43, 43);
    color: white;
    padding: 15px 40px 10px 30px;
    text-align: center;
    z-index: 5;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: all .4s ease;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    overflow: hidden;
    opacity: 0.8;
    .number{
        color: red;
        padding-right: 3px;
    }
    .close-button{
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        opacity: 0.7;
    }
    .undo-button{
        text-align: right;
        text-decoration: underline;
        margin-top: 5px;
        font-size: 13px;
        cursor: pointer;
        opacity: 0.7;
    }
    .timer-parent{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        // background: rgb(114, 86, 128);
        // background: rgba(200,200,200, 0.7);
        width: 100%;
        .timer-bar{
            height: 100%;
            width: 100%;
            right: 0;
            background: rgba(200,200,200, 0.7);
            background: rgb(134, 106, 148);
            position: absolute;
            // animation: glow 2s linear infinite;
            // animation-iteration-count:infinite;
        }
    }
}
@keyframes glow {
    0%{
        background: rgb(114, 86, 128);
    }
    50%{
        background: rgb(200, 200, 200);
    }
    100%{
        background: rgb(114, 86, 128);
    }
}
.popup-notif-parent.active{
    opacity: 1;
}
$dashboard-width : 240px;
.bg-button{
    background: rgba(255,255,255,0.3);
    border-radius: 2px;
    padding: 5px 15px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
}
#dashboard-Nav{
    background: #15171c;
    color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: $dashboard-width;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.45);
    .logo-panel{
        background: rgba(0,0,0,0.8);
        padding: 10px;
        img{
            width: 60px;
            display: block;
        }
    }
    .user-panel{
        padding: 15px 10px;
        background: rgba(0,0,0,0.4);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        font-size: 14px;
        .user-avatar{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background: white;
            margin-right: 10px;
            background-size: contain;
            background-position: center center;
            color: black;
            padding: 18px 0;
            text-align: center;
            font-weight: bold;
            background-image: url('../img/icons/avatar.png');
            border: 1px solid rgba(255,255,255,0.15);
        }
        .user-info{
            .store-name{
                margin-bottom: 5px;
                font-size: 20px;
                cursor: pointer;
                opacity: 0.8;
            }
            .owner-name{
                opacity: 0.5;
                font-size: 12px;
                cursor: pointer;
            }
        }
        .account-settings{
            width: 100%;
            margin-top: 20px;
            position: relative;
            .menu-handle{
                font-size: 14px;
                position: relative;
                opacity: 0.5;
                img{
                    vertical-align: top;
                    right: 30px;
                    width: 15px;
                }
            }
        }
    }
    .main-nav{
        // margin-top: 10px;
        .icon{
            width: 23px;
            display: block;
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 9px;
            left: 10px;
            opacity: 0.8;
        }
        li{
            margin: 1px 0;
            position: relative;
            opacity: 0.9;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            a{
                font-size: 14px;
                display: block;
                vertical-align: sub;
                padding: 15px 15px;
                padding-left: 40px;
                position: relative;
                line-height: 1;
            }
            .float-notif{
                position: absolute;
                top: 10px;
                right: 15px;
                height: 22px;
                width: 22px;
                background-color: rgb(214, 61, 61);
                font-size: 12px;
                text-align: center;
                padding: 4px 0;
                border-radius: 50%;
            }
        }
        li.sub-parent{
            .sub-menu{
                display: none;
                position: relative;
                top: -5px;
            }
        }
        li.sub-parent:after{
            content: "";
            width: 8px;
            height: 8px;
            border: 2px solid white;
            position: absolute;
            top: 15px;
            right: 20px;
            transform: rotateZ(45deg);
            border-left: none;
            border-top: none;
            cursor: pointer;
            transition: all .4s ease;
        }
        li.sub-parent.show{
            background: rgba(255,255,255,0.05);
            .sub-menu{
                display: block;
                li{
                    margin: 1px 0;
                    opacity: 0.6;
                }
                a{
                    padding: 8px 15px;
                    font-size: 13px;
                    padding-left: 45px;
                }
            }
        }
        li.sub-parent.show:after{
            transform: rotateZ(-135deg);
        }
        li:hover, li.ative{
            background: rgba(255,255,255,0.05);
        }
        li.notif{
            border-right: 5px solid rgb(107, 159, 106);
        }

    }
}
#dashboard-parentContainer{
    padding-left: $dashboard-width;
    min-height: 100vh;
    background: #eee;
    .main-content{
        width: 1050px;
        margin: auto;
        padding: 20px;
        position: relative;
    }
}
.feed-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .store-container{
        background: white;
        border-radius: 5px;
        padding: 30px 25px 40px;
        margin: 3% 3% 0 0;
        text-align: center;
        width: 22%;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
        .store-avatar{
            width: 100px;
            height: 100px;
            margin: auto;
            overflow: hidden;
            margin-bottom: 20px;
            border-radius: 50%;
            img{
                display: block;
                width: 100%;
            }
        }
        .store-name{
            margin: 10px 0 0px;
            font-family: 'Noto Bold';
            opacity: 0.89;
        }
        .store-description{
            font-size: 12px;
            opacity: 0.7;
            margin-bottom: 25px;
        }
        .follow-button{
            border: 1px solid #508dde;
            text-align: center;
            color: #508dde;
            padding: 6px 0;
            font-size: 14px;
            border-radius: 3px;
            cursor: pointer;
        }
        .follow-button.followed{
            color: white;
            background: #508dde;
        }
    }
}
.welcome-text{
    font-size: 40px;
    text-align: center;
    margin: 5vh 0;
    opacity: 1;
    .link{
        color: rgb(51, 149, 227)
    }
}
.widget-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .widgets{
        width: 30%;
        height: 350px;
        background: #eee;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.2);
        transition: all .3s ease;
        cursor: pointer;
        .widget-box{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            padding: 20px 15px;
            background: #fff;
            .title{
                font-size: 18px;
                margin-bottom: 10px;
            }
        }
    }
    .widgets:hover{
        box-shadow: 2px 6px 12px 3px rgba(0, 0, 0, 0.2);
    }
}
.staple-banner{
    height: 250px;
    background: rgb(87, 78, 101);
}
.notice-container{
    text-align: center;
    background: white;
    padding-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 4px 12px 2px rgba(0, 0, 0, 0.1);
    .title{
        padding: 30px 0 20px;
        font-size: 35px;
    }
    .subcaption{
        font-size: 14px;
        padding-bottom: 30px;
    }
}
.parent-title{
    background: white;
    // padding: 20px;
    font-size: 20px;
    // font-weight: bold;
    box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.1);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1050px;
        height: 70px;
    }
    .page-functions{
        display: flex;
        align-items: center;
        .function-module{
            font-size: 13px;
            background: #7dc663;
            padding: 8px 15px;
            color: white;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 10px;
        }
        .function-flex{
            display: flex;
            .follower-module{
                position: relative;
                height: 70px;
                width: 70px;
                text-align: center;
                padding: 16px 0;
                font-family: 'Noto Bold';
                // background: rgb(80, 141, 222);

                border-left: 1px solid rgba(212, 212, 212, 0.4);
                border-top: 0;
                border-bottom: 0;
                cursor: pointer;
                // color: white;
                .caption{
                    position: absolute;
                    bottom: 10px;
                    width: 100%;
                    text-align: center;
                    font-size: 11px;
                    opacity: 0.7;
                }
            }
            .follower-module.active{
                background: rgb(80, 141, 222);
                color: white;
                border-left: 1px solid rgba(255,255,255,0.4);
            }
        }
    }
}
.default-button{
    background: #2791b8;
    color: white;
    display: block;
    max-width: 250px;
    min-width: 120px;
    margin: auto;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.default-button:hover{
    opacity: 0.9;
}
.image-belt{
    counter-reset: totalCounter;
    display: flex;
    .image-box{
        height: 130px;
        width: 130px;
        background: #eee;
        margin-right: 10px;
        position: relative;
        border: 2px solid #eee;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .image-box.uploaded{
        .uploaded-hover{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            opacity: 0;
            transition: all .25s ease;
            padding: 10px 0;
            cursor: move;
        }
        .function-button{
            text-align: center;
            margin: 12px 15px;
            border: 1px solid white;
            padding: 8px 0;
            color: white;
            border-radius: 3px;
            font-size: 12px;
            opacity: 0.7;
            cursor: pointer;
        }
        .function-button:hover{
            background: white;
            color: black;
        }
    }
    .image-box.uploaded:hover{
        .uploaded-hover{
            opacity: 1;
        }
    }
    .image-box.ready{
        background-color: white;
        background-image: url('../img/icons/icon_image_upload.svg');
        background-repeat: no-repeat;
        background-position: center 40%;
        background-size: 60px;
        border: 2px dashed #eee;
    }
    .image-box.ready:hover{
        border: 2px dashed #ddd;
    }
    .image-box.ready:before{
        content: "Add Image";
        position: absolute;
        left: 50%;
        top: 70%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 12px;
        opacity: 0.5;
    }
    .image-box:after{
        content: counter(totalCounter);
        counter-increment: totalCounter;
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: #333;
        color: white;
        width: 20px;
        text-align: center;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        opacity: 0.7;
        border-radius: 3px;
    }
}

.click-to-upload-image:hover{
    border: 2px dashed #888;
}
.form-container{
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 40px;
    margin-bottom: 70px;
    .default-button{
        margin: 20px auto;
    }
    .form-title{
        position: absolute;
        top: -30px;
        left: 10px;
        font-size: 15px;
        font-weight: bold;
        opacity: 0.8;
    }
    .form-group{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 15px 0px;
        border-bottom: 1px solid #f1f1f1;
        align-items: center;
        .social-icon{
            height: 20px;
            width: 20px;
            margin-right: 8px;
        }
        .form-caption{
            min-width: 120px;
            font-size: 15px;
            font-family: 'Noto Bold';
            // opacity: 0.7;
            color: rgba(0,0,0,0.7);
            margin-right: 20px;
        }
        .form-input{
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: 10px 10px;
            outline: none;
            width: 300px;
            background: white;
            margin-right: 5px;
        }
        .form-button{
            background:  rgb(80, 141, 222);
            color: white;
            padding: 7px 23px;
            font-size: 13px;
            border-radius: 3px;
        }
        .form-button:hover{
            opacity: 0.9;
        }
        .form-value{
            padding-left: 30px;
        }
        .group{
            .form-group{
                // border: 0;
                padding: 10px 0;
                .form-caption{
                    min-width: 75px;
                    font-size: 14px;
                }
            }
        }
    }
    .form-group:nth-last-child(1){
        border-bottom: 0;
    }
    .edit-button{
        display: inline-block;
        color: rgb(80, 141, 222);
        font-size: 13px;
        cursor: pointer;
        border-bottom: 1px solid rgb(80, 141, 222);
    }
}
.form-container.seperate{
    .form-group{
        justify-content: space-between;
    }
    .jo-checkparent {
        padding: 0 7px 0 0;
    }
}
.form-group.premium{
    overflow: hidden;
    position: relative;
}
.form-group.premium:after{
    content: "PREMIUM";
    background: rgb(65, 88, 140);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    font-size: 9px;
    padding: 6px 36px;
    transform: rotateZ(45deg);
    right: -37px;
    top: 12px;
    position: absolute;
    opacity: 0.93;
    color: white;
}
.form-container.singles{
    background: transparent;
    padding: 0;
    box-shadow: none;
    .form-group{
        background: white;
        padding: 20px 20px;
        border-radius: 3px;
        margin-bottom: 15px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
        .form-caption{
            position: relative;
        }
        .form-subcaption{
            font-size: 13px;
            opacity: 0.6;
            padding-top: 3px;
        }
    }
}
.image-container{
    padding-left: 70px;
    .icon{
        width: 73px;
       display: inline-block;
       position: absolute;
       top: -15px;
       left: -15px;
    }
}
.variation-parent{
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 35px;
    .variation-name{
        font-size: 14px;
        outline: none;
        display: inline-block;
        padding: 5px 8px;
        width: 150px;
        border: 1px solid transparent;
        border-radius: 3px;
    }
    .variation-name:focus{
        background: white;
        border: 1px solid #ddd;
    }
    .form-input{
        height: 30px;
    }
    .delete-icon{
        height: 22px;
        width: 22px;
        background: red;
        font-size: 23px;
        line-height: 20px;
        color: white;
        position: absolute;
        right: -25px;
        text-align: center;
        border: 1px solid white;
        border-radius: 50%;
        opacity: 0;
        transition: all .3s ease;
        cursor: pointer;
    }
}
.variation-parent:hover{
    .delete-icon{
        right: -25px;
        opacity: .8;
    }
}
.variation-parent:after{
    content: "pcs";
    position: absolute;
    right: 10px;
    opacity: 0.7;
}
#purchasedItem{
    padding: 0;
}
.purchased-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    .item-image{
        width: 65px;
        height: 65px;
        border-radius: 3px;
        overflow: hidden;
        img{
            width: 100%;
            display: block;
        }
    }
    .item-name{
        padding-left: 20px;
    }
    .item-caption{
        font-size: 11px;
        opacity: 0.7;
        padding-top: 3px;
    }
    .left{
        padding: 5px 20px;
    }
    .left, .item-detail{
        display: flex;
        align-items: center;
    }
    .item-detail{
        padding-right: 40px;
    }
    .spacer{
        margin: 0 15px;
        height: 20px;
        width: 20px;
        // background: rgb(87, 115, 189);
        border-radius: 50%;
        text-align: center;
        line-height: 19px;
        color: #aaa;
        font-weight: bold;
        font-size: 18px;
        transform: scaleY(0.9);

    }
    .price{
        position: relative;
        .discount-amount{
            text-decoration: none;
            display: inline-block;
            padding-left: 5px;
        }
        .pre-discount {
            position: absolute;
            right: 110%;
            bottom: 2px;
            font-size: 13px;
            text-decoration: line-through;
            opacity: 0.5;
            width: 200px;
            text-align: right;
            padding-right: 5px;
        }
    }
    .quantity{
        height: 30px;
        // width: 30px;
        border-radius: 50%;
        // background: rgb(87, 115, 189);
        // color: #eee;
        text-align: center;
        line-height: 33px;
        font-size: 18px;
    }
}
#total-parent{
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #eee;
}
.subtotal-parent{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    align-items: center;
    .group{
        width: 350px;
    }
    .subtotal-caption{
        font-size: 14px;
        width: 100px;
        text-align: right;
    }
    .subtotal-value{
        font-size: 18px;
    }
    .subtotal-value:before{
        content: "IDR";
        font-size: 9px;
    }
}
#total-final{
    font-weight: bold;
    font-size: 22px;
}
.subtotal-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.jo-checkbox{
    display: none;
}
$product-width: 70px;
.product-table-parent{
    width: 800px;
    margin: auto;
    .public-parent{
        width: 60px;
    }
    .product-image{
        width: $product-width;
        height: $product-width;
        border-radius: 3px;
        overflow: hidden;
    }
    .product-name{
        width: 50%;
        font-size: 14px;
    }
    .product-header{
        display: flex;
        padding: 0px 10px;
        opacity: 0.8;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
        .product-handle{
            height: 0;
            padding: 0;
        }
        .product-image{
            height: 0;
        }
        .stock{
            width: 10%;
        }
        .price{
            width: 15%;
        }
    }
    .product-flex-group{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        border-radius: 3px;
        background: white;
        // width: 800px;
        padding: 5px;
        align-items: center;
        margin: 1px 0;
        border: 1px solid white;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
        position: relative;
        justify-content: space-between;
        cursor: move;
        .product-name{
            cursor: pointer;
        }
        .product-name:hover{
            opacity: 0.8;
            text-decoration: underline;
        }
        .product-id{
            position: absolute;
            right: 101%;
            opacity: 0.5;
            min-width: 100px;
            text-align: right;
            font-size: 14px;
        }
        .product-id:before{
            content: "#";
            font-size: 12px;
        }
        .product-image{
            img{
                width: 100%;
                display: block;
            }
        }
        .stock{
            width: 10%;
            font-size: 14px;
        }
        .price{
            width: 15%;
            font-size: 14px;
        }
        .price:before{
            content: "IDR";
            font-size: 9px;
        }
    }
    .product-flex-group:hover{
        box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.15);
        // z-index: 9999999999999999999999999999;
    }
    .product-flex-group.selected, .product-flex-group.semi-selected{
        border: 1px solid rgb(131, 158, 125);
        // box-shadow: 1px 2px 2px 1px rgba(0,250,0,0.15);
    }
    .product-flex-group.temporary{
        opacity: 0.5;
    }
    .product-handle{
        border-radius: 3px;
        // padding: 4px 5px;
        width: 32px;
        height: 32px;
        padding: 7px 0;
        position: relative;
        cursor: pointer;
        .handle-lines{
            background: #555;
            height: 2px;
            margin: 3px auto;
            width: 15px;
            // border-radius: 50%;
        }
        .product-options{
            position: absolute;
            background: #fbfbfb;
            top: -5px;
            left: 25px;
            z-index: 5;
            padding: 0px 0;
            font-size: 14px;
            display: none;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            overflow: hidden;
            border: 1px solid #eee;
            li{
                padding: 13px 20px;
                width: 150px;
            }
            li:hover{
                background: rgba(220,220,220,0.7);
            }
        }
    }
    .product-handle:hover{
        .handle-lines{
            opacity: 0.5;
        }
    }
    .product-handle.active{
        .handle-lines{
            opacity: 0.5;
        }
        .product-options{
            display: block;
        }
    }
    .move-handle{
        height: 40px;
        width: 40px;
        background: blue;
        border-radius: 50%;
        cursor: move;
    }
}
.jo-drag{
    position: absolute !important;

}
.order-list-parent{
    .order-list-header{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        opacity: 0.8;
        font-size: 14px;
        margin-top: 20px;
    }
    .order-list-flex{
        display: flex;
        justify-content: space-between;
        background: white;
        padding: 7px 10px;
        margin: 10px 0 10px;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        align-items: center;
        .order-date{
            letter-spacing: -1px;
        }
        .total-fee:before{
            content: "IDR";
            font-size: 9px;
            position: absolute;
            right: 101%;
            bottom: 0;
        }
    }
    .customer-name{
        width: 180px;
        padding-left: 10px;
    }
    .order-date{
        width: 150px;
        .date{
            padding-right: 5px;
        }
    }
    .order-number{
        width: 100px;
    }
    .payment-method{
        width: 140px;
    }
    .total-fee{
        width: 120px;
        position: relative;
    }
    .payment-status{
        width: 150px;
        text-align: center;
        .payment-bg{
            background: rgb(237, 82, 82);
            color: white;
            font-size: 13px;
            padding: 10px;
            border-radius: 3px;
        }
        .payment-bg.pending{
            background: rgb(82, 153, 237);
        }
        .payment-bg.accepted{
            background: rgb(115, 205, 108);
        }
        .payment-bg.canceled{
            // background: rgb(95, 97, 95);
            background: rgb(237, 82, 82);
        }
    }
}
.email-layout-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    margin: auto;
    .layout-module{
        width: 20%;
        margin: 2.5%;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
        transition: all .3s ease;
        position: relative;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
    .layout-module:hover{
        box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.2);
    }
    .layout-module.selected::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
    }
}
.email-layout-parent{
    width: 640px;
    border: solid 2px #ddd;
    margin: 20px auto;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .boxed{
        border: 2px dashed #ccc;
    }
    .boxed:hover{
        border: 2px dashed #aaa;
    }
    .email-banner{
        @extend .boxed;
        cursor: pointer;
        margin: 10px 0;
        width: 100%;
        background-image: url('../img/icons/icon_image_upload.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70px;
    }
    .w30{
        width: 170px;
    }
    .email-input{
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        outline: none;
        border-radius: 3px;
        font-family: 'Noto Sans', sans-serif;
        max-width: 100%;
    }
    .full-button{
        width: 100%;
    }
    .image-box{
        @extend .boxed;
        cursor: pointer;
        margin: 10px 0;
        width: 170px;
        height: 170px;
        background-image: url('../img/icons/icon_image_upload.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70px;
    }
}
#email-lay-1{
    .email-banner{
        height: 240px;
        // background: rgb(166, 29, 29);
        text-align: center;
        color: white;
        font-size: 60px;
    }
}
//DASHBOARD
.toggle-id{
    display: none;
}
//PALLETTE
$shadow-color : rgb(38, 38, 42);
#theme-pallette{
    background: $shadow-color;
    position: fixed;
    height: 100%;
    width: 280px;
    top: 0;
    left: -220px;
    z-index: 5;
    color: #eee;
    transition: all .3s ease .2s;
    overflow: auto;
    padding-top: 40px;
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.85);
    .mCSB_inside > .mCSB_container {
        margin-right: 10px;
    }
    .pin-handle{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        opacity: 0.5;
        cursor: pointer;
        img{
            display: block;
            width: 100%;
        }
    }
    .pin-handle.active{
        opacity: 1;
    }
    .pallette-header{
        padding: 20px 10px;
        font-size: 20px;
        background: #15171c;
        .bg-button{
            float: right;
        }
    }
    .settings-flex{
        display: flex;
        .flex-module{
            width: 75px;
            height: 65px;
            position: relative;
            cursor: pointer;
            opacity: 1;
            background: rgba(150,150,150,0.1);
            transition: all .3s ease;
            img{
                width: 23px;
                margin: 13px auto;
                display: block;
                opacity: 0.4;
            }
            .bottom-title{
                position: absolute;
                bottom: 5px;
                width: 100%;
                text-align: center;
                font-size: 11px;
                opacity: 0.4;
            }
        }
        .flex-module:hover, .flex-module.active{
            opacity: 1;
            background: $shadow-color;
            img{
                opacity: 1;
            }
            .bottom-title{
                opacity: 1;
            }
        }
    }
    .section-parent{
        background: $shadow-color;
        padding: 10px 0;
        max-height: 80vh;
        display: none;
        .mCSB_container{
            padding: 0px 0;
        }
    }
    .section-parent.active{
        display: block;
    }
    .layout-choice{
        background: #eee;
        border-radius: 3px;
        overflow: hidden;
        width: 80%;
        margin: 10px auto;
        cursor: pointer;
        border: 2px solid transparent;
        opacity: 0.5;
        img{
            width: 100%;
            display: block;
        }
        .layout-class{
            display: none;
        }
    }
    .layout-choice:hover{
        opacity: 0.8;
    }
    .layout-choice.picked{
        opacity: 1;
    }
}
#theme-pallette:hover{
    left: 0;
}
#theme-pallette.pinned{
    left: 0;
}
#storeNameSettings{
    .size-parent{

        display: flex;
        align-items: center;
        margin: 10px auto;
        width: 90%;
        justify-content: space-between;
        padding: 10px 15px;
        background: rgba(0,0,0,0.3);
        border-radius: 5px;
    }
    .small{
        font-size: 12px;
        opacity: 0.6;
    }
    .big{
        font-size: 20px;
        opacity: 0.6;
    }
    .font-flex{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
        justify-content: space-between;
        padding: 10px 0;
        .font-module{
            font-size: 17px;
            width: 47%;
            text-align: center;
            padding: 8px 0;
            margin-bottom: 10px;
            background: rgba(240,240,240,1);
            border-radius: 5px;
            color: #222;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .font-module.active:after{
            content: "";
            width: 25px;
            height: 25px;
            position: absolute;
            background: rgb(84, 152, 85);
            transform: rotateZ(45deg);
            top: -12px;
            right: -12px;
        }
    }
}
#backgroundSettings{
    #bgImgFlex{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 10px auto;
        .bg-img-module{
            width: 68px;
            height: 65px;
            border-radius: 5px;
            background-position: center center;
            background-size: cover;
            cursor: pointer;
            margin-bottom: 10px;
            margin: 0 5px 10px;
        }
    }
}
.color-flex{
    margin: 10px auto;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: rgba(68, 68, 68, 0.59);
    padding: 10px 7px;
    border-radius: 5px;
    .title{
        width: 100%;
        padding-bottom: 10px;
        font-size: 12px;
        padding-left: 5px;
        opacity: 0.6;
    }
    .color-module{
        margin: 0 4px 8px;
        width: 30px;
        height: 30px;
        background: #eee;
        cursor: pointer;
        border-radius: 5px;
    }
    .color-picker{
        margin: 0 4px 8px;
        width: 30px;
        height: 30px;
        background: #eee;
        // border: 1px solid #555;
        cursor: pointer;
        border-radius: 5px;
        background: rgb(167,207,223); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
    }
}

.staple-container{
    margin: 10px auto;
    width: 250px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: rgba(68, 68, 68, 0.59);
    padding: 10px 5px;
    border-radius: 5px;
    .title{
        width: 100%;
        padding-bottom: 10px;
        padding-left: 5px;
        font-size: 12px;
        opacity: 0.6;
    }
    .form-group{
        width: 100%;
        padding: 5px 15px 5px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .caption{
            padding-right: 10px;
            font-size: 14px;
        }
        .color-module{
            margin: 0 4px 0px;
            width: 20px;
            height: 20px;
            background: #eee;
            cursor: pointer;
            border-radius: 50%;
        }
    }
}
.custom-toggle{
    width: 60px;
    background: #ccc;
    position: relative;
    font-size: 12px;
    height: 26px;
    border-radius: 35px;
    color: #888;
    overflow: hidden;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
    transition: background .3s ease;
    .toggle-belt{
        display: flex;
        align-items: center;
        width: 90px;
        justify-content: center;
        left: -30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s cubic-bezier(0.81, -0.01, 0.25, 1);
        cursor: pointer;
    }
    .toggle-ball{
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid transparent;
        margin: 0 7px 0 12px;
        background: #eee;
        transition: all .3s ease;
    }
}
.custom-toggle.active{
    background: #508dde;
    color: #fff;
    .toggle-belt{
        left: -1px;
    }
    .toggle-ball{
        background: #fff;
    }
}
//PALLETTE
.custom-range-slider{
    width: 75%;
    height: 3px;
    box-sizing: border-box;
    background: #888;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}
.custom-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: #fff;
    cursor: pointer;
}
.custom-range-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

//MAIN STORE
$global-container : 1000px;
.container{
    width: $global-container;
    margin: auto;
    position: relative;
}
.main-store{
    min-height: 100vh;
    background: #d06666;
    color: white;
    // margin-bottom: 80px;
    padding-bottom: 10px;
    background-size: 20%;
    .main-header{
        font-size: 40px;
        margin: auto;
        text-align: center;
        padding: 50px 0;
    }
    .main-navigation{
        display: flex;
        flex-wrap: wrap;
        .nav-module{
            padding: 5px 25px 5px 0;
            transition: all .3s ease;
            font-size: 18px;
        }
        .nav-module:hover{
            opacity: 0.8;
        }
    }
    .product-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 0;
        .product-module{
            padding: 5px;
            margin-bottom: 20px;
            width: 230px;
            font-size: 20px;
            transition: opacity .3s ease;
            background: #fafafa;
            cursor: pointer;
            position: relative;
            // background: #eee;
            .product-detail{
                padding: 5px 15px;
                background: white;
            }
            .product-detail.hover-hidden{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 45% 0;
                background: rgba(0,0,0,0);
                transition: background .3s ease;
                color: transparent;
            }
            .unit{
                font-size: 12px;
            }
            img{
                display: block;
                max-width: 100%;
            }
        }
        .product-module:hover{
            // opacity: 0.6;
            .product-detail.hover-hidden{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 45% 0;
                background: rgba(255,255,255,0.8);
                transition: all .3s ease;
                color: black;
            }
        }
    }
}
.product-flex.shadow{
    .product-module{
        box-shadow: 3px 3px 1px 2px rgba(0,0,0, 0.5);
    }
}
.product-flex#lay-4{
    // justify-content: flex-start;
    .product-module{
        width: 230px;
    }
}
.product-flex#lay-4:after{
    content: "";
    width: 490px;
    display: block;
}
.product-flex#lay-3{
    .product-module{
        width: 310px;
        margin-bottom: 40px;
    }
}
.product-flex#lay-3:after{
    content: "";
    width: 310px;
    display: block;
}
.product-flex#lay-2{
    .product-module{
        width: 480px;
        margin-bottom: 40px;
    }
}
.product-flex#lay-e{
    width: 500px;
    margin: auto;
    .product-module:first-child{
        width: 100%;
    }
    .product-module{
        width: 230px;
    }
}
.product-flex#lay-f{
    width: 500px;
    margin: auto;
    .product-module{
        width: 100%;
    }
}
.footer-general{
    background: #1a1a1a;
    color: white;
    .container{
        display: flex;
        align-items: center;
        padding: 20px;
        text-align: center;
        justify-content: center;
        color: rgba(255,255,255,0.8);
    }
    img{
        width: 70px;
        margin-left: 10px;
        opacity: 0.8;
    }

}
//MAIN STORE


//FRONT
#navbar{
    width: 100%;
    background: transparent;
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 55;
    #searchForm{
        display: flex;
        position: relative;
        transition: all .5s cubic-bezier(0.79, -0.01, 0.25, 1);
        width: 40px;
        #searchInput{
            outline: none;
            border: 1px solid #aaa;
            display: block;
            border-radius: 5px;
            overflow: hidden;
            font-size: 14px;
            outline: none;
            padding: 10px 15px;
            transition: all .3s cubic-bezier(0.79, -0.01, 0.25, 1);
            transition-delay: 0.1s;
            opacity: 0;
        }
        .navbar-search{
            height: 40px;
            width: 40px;
            background: black;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            display: block;
            background-image: url('../img/icons/icon_search_white.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 20px;
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid transparent;
            transition: all .5s cubic-bezier(0.79, -0.01, 0.25, 1);

        }
        .navbar-search:hover{
            opacity: 0.8;
        }
    }
    #searchForm.active{
        width: 240px;
        #searchInput{
            opacity: 1;
            background: white;
        }
        .navbar-search{
            transform: rotateY(360deg);
        }
    }
    .nav-functions{
        display: flex;
        justify-content: space-between;
        li{
            margin-left: 10px;
            >a{
                display: block;
                color: white;
                padding: 10px 25px;
                border-radius: 5px;
                font-size: 14px;
                background: #111;
            }
        }
        #cartPopupBtn >a{
            height: 41px;
            background-image: url('../img/icons/icon_cart.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 25px;
        }
    }
}

.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
.section-2{
    padding-bottom: 50px;
}
.product-detail-parent{
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 50px 30px;
    margin-top: 30px;
    color: black;
    .cart-button{
        color: white;
        background: #232323;
        border: 1px solid #232323;
        width: 70%;
        padding: 12px 0;
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
        letter-spacing: 1px;
        font-size: 13px;
        border-radius: 5px;
    }
    .wishlist-button{
        color: #333;
        border: 1px solid #888;

        width: 70%;
        padding: 12px 0;
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
        letter-spacing: 1px;
        font-size: 13px;
        border-radius: 5px;
    }
    .img-box{
        img{
            width: 100%;
            display: block;
        }
    }
    .img-thumb{
        display: flex;
        flex-wrap: wrap;
        .thumb-child{
            width: 20%;
            padding-top: 15px;
            padding-right: 15px;
            cursor: pointer;
            img{
                width: 100%;
                display: block;
            }
        }
        .thumb-child.active{
            opacity: 0.5;
        }
        .thumb-child:hover{
            opacity: 0.8;
        }
    }
    .product-desc-parent{
        padding-left: 30px;
        .product-name{
            font-size: 20px;
            letter-spacing: 1px;
        }
        .product-price{
            font-size: 28px;
            margin-top: 10px;
            margin-bottom: 20px;
            .unit{
                font-size: 14px;
            }
        }
        .product-desc{
            opacity: 0.6;
            font-size: 14px;
            word-break: break-all;
            line-height: 1.8;
            margin-top: 10px;
        }
        .product-tags{
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            .tags{
                margin-right: 6px;
                padding: 7px 15px;
                border-radius: 50px;
                font-size: 13px;
                background: #ececec;
                color: rgba(27, 27, 27, 0.91);
            }
            .tags:before{
                content: "#";
            }
        }
    }
}
.related-product-module{
    display: flex;
    flex-wrap: wrap;
    background: white;
    padding: 30px;
    margin-top: 30px;
    color: black;
    .title{
        width: 100%;
    }
    .product-module{
        width: 16.5%;
        padding-right: 20px;
        padding-top: 20px;
        img{
            display: block;
            width: 100%;
        }
        .product-name{
            opacity: 0.8;
            font-size: 14px;
            padding-top: 5px;
        }
        .product-price{
            opacity: 0.8;
            .unit{
                font-size: 8px;
            }
        }
    }
    .product-module:hover{
        opacity: 0.7;
    }
}
.breadcrumb{
    padding: 0px 0 20px;
    display: flex;
    font-size: 14px;
    a{
        display: block;
    }
    a:first-child{
        opacity: 0.57;
    }
    a:after{
        content: ">";
        padding: 0 10px;
        transform: scaleX(0.5);
        display: inline-block;
    }
    a:last-child:after{
        content: ""
    }
}
.stores-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    .popup-fader{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.75);
        z-index: 1;
    }
    .form-group{
        padding: 10px 0;
    }
    .popup-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px 40px;
        z-index: 2;
        border-radius: 10px;
        .close-popup{
            right: 10px;
            top: -35px;
            // border: 3px solid white;
            border-radius: 50%;
            position: absolute;
            padding: 15px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center center;
            opacity: 0.8;
            background-image: url('../img/icons/icon_close_small.svg');
        }
    }
    .title{
        font-size: 20px;
        padding: 10px 0 20px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
    .form-input{
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 15px 10px;
        outline: none;
        width: 400px;
        background: white;
        font-size: 15px;
    }
    .form-button{
        background:  rgb(80, 141, 222);
        color: white;
        padding: 15px 23px;
        font-size: 18px;
        border-radius: 3px;
        width: 100%;
        margin-top: 20px;
    }
    .form-button:hover{
        opacity: 0.9;
    }

}
.stores-popup.active{
    display: block;
}
.cart-content{
    width: 900px;
    padding-bottom: 50px;
    .title{
        margin-bottom: 0;
    }
    .unit{
        font-size: 0.7rem;
        padding-right: 3px;
        display: inline-block;
        vertical-align: middle;
    }
    .cart-row.header{
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        font-size: 15px;
        *{
            font-size: 15px !important;
        }
    }
    .cart-row.total{
        .cart-qty{
            text-align: right;
            display: block;

        }
        *{
            font-weight: bold;
        }

    }
    .cart-row{
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        border-bottom: 1px solid #eee;
        .cart-delete{
            width: 15px;
            height: 15px;
            // background: #333;
            cursor: pointer;
            img{
                display: block;
                width: 100%;
            }
        }
        .cart-img{
            width: 8%;
            img{
                width: 100%;
                display: block;
            }
        }
        .cart-name{
            width: 37%;
            padding-right: 7%;
            font-size: 15px;
        }
        .cart-price{
            width: 13%;
            font-size: 20px;
        }
        .cart-qty{
            width: 13%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cart-qty-input{
                width: 50%;
                outline: none;
                border: 1px solid transparent;
                padding: 5px;
                text-align: center;
                border: 1px solid #eee;
            }
            .qty-btn{
                background: #eee;
                height: 25px;
                width: 25px;
                font-size: 20px;
                line-height: 25px;
                cursor: pointer;
                select: none;
            }
        }
        .cart-subtotal{
            width: 13%;
            text-align: right;
            font-size: 20px;
        }
    }
}
.checkout-header{
    width: 800px;
    margin: auto;
    background: white;
    display: flex;
    color: black;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    a{
        width: 22%;
        text-align: center;
        display: block;
        padding: 15px 0;
        position: relative;
        font-size: 14px;
    }
    a:after{
        content: "";
        width: 40px;
        height: 40px;
        background: transparent;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%) rotateZ(-55deg) skew(-20deg);
        border: 1px solid #ddd;
        border-left: none;
        border-top: none;
    }
    a.active{
        color: white;
        background: #111;
    }
    a.active:after{
        background: #111;
        border: none;
    }
}
#checkoutForm{
    margin-top: 100px;
    color: black;
    width: 90%;
    margin: 40px auto;
    padding: 0 40px 40px;
    .title{
        font-size: 30px;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin-bottom: 0px;
        padding-top: 20px;
    }
    textarea.form-input{
        resize: vertical;
        min-width: 500px;
        min-height: 120px;
    }
    .form-button{
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
        text-align: center;
        margin: auto;
        width: 300px;
        padding: 15px 0;
        cursor: pointer;
    }
}
//FRONT
