* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
}

.bg-button {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  padding: 5px 15px;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#dashboard-Nav {
  background: #15171c;
  color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.45);
}

#dashboard-Nav .logo-panel {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

#dashboard-Nav .logo-panel img {
  width: 60px;
  display: block;
}

#dashboard-Nav .user-panel {
  padding: 15px 10px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}

#dashboard-Nav .user-panel .user-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  margin-right: 10px;
  background-size: contain;
  background-position: center center;
  color: black;
  padding: 18px 0;
  text-align: center;
  font-weight: bold;
  background-image: url("../img/icons/avatar.png");
  border: 1px solid rgba(255, 255, 255, 0.15);
}

#dashboard-Nav .user-panel .user-info .store-name {
  margin-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.8;
}

#dashboard-Nav .user-panel .user-info .owner-name {
  opacity: 0.5;
  font-size: 12px;
  cursor: pointer;
}

#dashboard-Nav .user-panel .account-settings {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

#dashboard-Nav .user-panel .account-settings .menu-handle {
  font-size: 14px;
  position: relative;
  opacity: 0.5;
}

#dashboard-Nav .user-panel .account-settings .menu-handle img {
  vertical-align: top;
  right: 30px;
  width: 15px;
}

#dashboard-Nav .main-nav .icon {
  width: 23px;
  display: block;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 9px;
  left: 10px;
  opacity: 0.8;
}

#dashboard-Nav .main-nav li {
  margin: 1px 0;
  position: relative;
  opacity: 0.9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#dashboard-Nav .main-nav li a {
  font-size: 14px;
  display: block;
  vertical-align: sub;
  padding: 15px 15px;
  padding-left: 40px;
  position: relative;
  line-height: 1;
}

#dashboard-Nav .main-nav li .float-notif {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 22px;
  width: 22px;
  background-color: #d63d3d;
  font-size: 12px;
  text-align: center;
  padding: 4px 0;
  border-radius: 50%;
}

#dashboard-Nav .main-nav li.sub-parent .sub-menu {
  display: none;
  position: relative;
  top: -5px;
}

#dashboard-Nav .main-nav li.sub-parent:after {
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid white;
  position: absolute;
  top: 15px;
  right: 20px;
  transform: rotateZ(45deg);
  border-left: none;
  border-top: none;
  cursor: pointer;
  transition: all .4s ease;
}

#dashboard-Nav .main-nav li.sub-parent.show {
  background: rgba(255, 255, 255, 0.05);
}

#dashboard-Nav .main-nav li.sub-parent.show .sub-menu {
  display: block;
}

#dashboard-Nav .main-nav li.sub-parent.show .sub-menu li {
  margin: 1px 0;
  opacity: 0.6;
}

#dashboard-Nav .main-nav li.sub-parent.show .sub-menu a {
  padding: 8px 15px;
  font-size: 13px;
  padding-left: 45px;
}

#dashboard-Nav .main-nav li.sub-parent.show:after {
  transform: rotateZ(-135deg);
}

#dashboard-Nav .main-nav li:hover, #dashboard-Nav .main-nav li.ative {
  background: rgba(255, 255, 255, 0.05);
}

#dashboard-Nav .main-nav li.notif {
  border-right: 5px solid #6b9f6a;
}

#dashboard-parentContainer {
  padding-left: 240px;
  min-height: 100vh;
  background: #eee;
}

#dashboard-parentContainer .main-content {
  width: 1050px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.welcome-text {
  font-size: 40px;
  text-align: center;
  margin: 5vh 0;
  opacity: 1;
}

.welcome-text .link {
  color: #3395e3;
}

.widget-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.widget-container .widgets {
  width: 30%;
  height: 350px;
  background: #eee;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
  cursor: pointer;
}

.widget-container .widgets .widget-box {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 15px;
  background: #fff;
}

.widget-container .widgets .widget-box .title {
  font-size: 18px;
  margin-bottom: 10px;
}

.widget-container .widgets:hover {
  box-shadow: 2px 6px 12px 3px rgba(0, 0, 0, 0.2);
}

.staple-banner {
  height: 250px;
  background: #574e65;
}

.notice-container {
  text-align: center;
  background: white;
  padding-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 4px 12px 2px rgba(0, 0, 0, 0.1);
}

.notice-container .title {
  padding: 30px 0 20px;
  font-size: 35px;
}

.notice-container .subcaption {
  font-size: 14px;
  padding-bottom: 30px;
}

.parent-title {
  background: white;
  padding: 20px;
  font-size: 20px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
  font-family: Calibri;
}

.parent-title .container {
  font-family: 'Varela Round';
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
}

.parent-title .page-functions {
  display: flex;
  align-items: center;
}

.parent-title .page-functions .function-module {
  font-size: 13px;
  background: #7dc663;
  padding: 8px 15px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.default-button {
  background: #2791b8;
  color: white;
  display: block;
  max-width: 250px;
  min-width: 120px;
  margin: auto;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.default-button:hover {
  opacity: 0.9;
}

.image-belt {
  counter-reset: totalCounter;
  display: flex;
}

.image-belt .image-box {
  height: 130px;
  width: 130px;
  background: #eee;
  margin-right: 10px;
  position: relative;
  border: 2px solid #eee;
  cursor: pointer;
}

.image-belt .image-box img {
  width: 100%;
}

.image-belt .image-box.uploaded .uploaded-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all .25s ease;
  padding: 10px 0;
  cursor: move;
}

.image-belt .image-box.uploaded .function-button {
  text-align: center;
  margin: 12px 15px;
  border: 1px solid white;
  padding: 8px 0;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0.7;
  cursor: pointer;
}

.image-belt .image-box.uploaded .function-button:hover {
  background: white;
  color: black;
}

.image-belt .image-box.uploaded:hover .uploaded-hover {
  opacity: 1;
}

.image-belt .image-box.ready {
  background-color: white;
  background-image: url("../img/icons/icon_image_upload.svg");
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 60px;
  border: 2px dashed #eee;
}

.image-belt .image-box.ready:hover {
  border: 2px dashed #ddd;
}

.image-belt .image-box.ready:before {
  content: "Add Image";
  position: absolute;
  left: 50%;
  top: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 12px;
  opacity: 0.5;
}

.image-belt .image-box:after {
  content: counter(totalCounter);
  counter-increment: totalCounter;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #333;
  color: white;
  width: 20px;
  text-align: center;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  opacity: 0.7;
  border-radius: 3px;
}

.form-container {
  background: white;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 40px;
  margin-bottom: 70px;
}

.form-container .default-button {
  margin: 20px auto;
}

.form-container .form-title {
  position: absolute;
  top: -25px;
  left: 10px;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.8;
}

.form-container .form-group {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px 10px;
  border-bottom: 1px solid #f1f1f1;
  align-items: center;
}

.form-container .form-group .form-caption {
  min-width: 140px;
  font-size: 18px;
  letter-spacing: -1px;
  opacity: 0.6;
}

.form-container .form-group .form-input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 10px;
  outline: none;
  width: 300px;
  background: white;
  margin-right: 5px;
}

.form-container .form-group .form-value {
  padding-left: 30px;
}

.form-container .edit-button {
  display: inline-block;
  color: #508dde;
  font-size: 13px;
  cursor: pointer;
  border-bottom: 1px solid #508dde;
}

.variation-parent {
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 35px;
}

.variation-parent .variation-name {
  font-size: 14px;
  outline: none;
  display: inline-block;
  padding: 5px 8px;
  width: 150px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.variation-parent .variation-name:focus {
  background: white;
  border: 1px solid #ddd;
}

.variation-parent .form-input {
  height: 30px;
}

.variation-parent .delete-icon {
  height: 22px;
  width: 22px;
  background: red;
  font-size: 23px;
  line-height: 20px;
  color: white;
  position: absolute;
  right: -25px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 0;
  transition: all .3s ease;
  cursor: pointer;
}

.variation-parent:hover .delete-icon {
  right: -25px;
  opacity: .8;
}

.variation-parent:after {
  content: "pcs";
  position: absolute;
  right: 10px;
  opacity: 0.7;
}

#purchasedItem {
  padding: 0;
}

.purchased-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.purchased-flex .item-image {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  overflow: hidden;
}

.purchased-flex .item-image img {
  width: 100%;
  display: block;
}

.purchased-flex .item-name {
  padding-left: 20px;
}

.purchased-flex .item-caption {
  font-size: 11px;
  opacity: 0.7;
  padding-top: 3px;
}

.purchased-flex .left {
  padding: 5px 20px;
}

.purchased-flex .left, .purchased-flex .item-detail {
  display: flex;
  align-items: center;
}

.purchased-flex .item-detail {
  padding-right: 40px;
}

.purchased-flex .spacer {
  margin: 0 15px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 19px;
  color: #aaa;
  font-weight: bold;
  font-size: 18px;
  transform: scaleY(0.9);
}

.purchased-flex .price {
  position: relative;
}

.purchased-flex .price .discount-amount {
  text-decoration: none;
  display: inline-block;
  padding-left: 5px;
}

.purchased-flex .price .pre-discount {
  position: absolute;
  right: 110%;
  bottom: 2px;
  font-size: 13px;
  text-decoration: line-through;
  opacity: 0.5;
  width: 200px;
  text-align: right;
  padding-right: 5px;
}

.purchased-flex .quantity {
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  font-size: 18px;
}

#total-parent {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #eee;
}

.subtotal-parent {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  align-items: center;
}

.subtotal-parent .group {
  width: 350px;
}

.subtotal-parent .subtotal-caption {
  font-size: 14px;
  width: 100px;
  text-align: right;
}

.subtotal-parent .subtotal-value {
  font-size: 18px;
}

.subtotal-parent .subtotal-value:before {
  content: "IDR";
  font-size: 9px;
}

#total-final {
  font-weight: bold;
  font-size: 22px;
}

.subtotal-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.product-table-parent .public-parent {
  width: 60px;
}

.product-table-parent .product-image {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  overflow: hidden;
}

.product-table-parent .product-name {
  width: 50%;
}

.product-table-parent .product-header {
  display: flex;
  padding: 0px 10px;
  opacity: 0.8;
  font-size: 14px;
  margin-top: 10px;
  justify-content: space-between;
}

.product-table-parent .product-header .product-image {
  height: 0;
}

.product-table-parent .product-header .stock {
  width: 10%;
}

.product-table-parent .product-header .price {
  width: 15%;
}

.product-table-parent .product-flex-group {
  display: flex;
  border-radius: 3px;
  background: white;
  padding: 10px;
  align-items: center;
  margin: 10px 0;
  border: 1px solid white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: space-between;
  cursor: pointer;
}

.product-table-parent .product-flex-group .product-id {
  position: absolute;
  right: 101%;
  opacity: 0.5;
  min-width: 100px;
  text-align: right;
  font-size: 14px;
}

.product-table-parent .product-flex-group .product-id:before {
  content: "#";
  font-size: 12px;
}

.product-table-parent .product-flex-group .product-image img {
  width: 100%;
  display: block;
}

.product-table-parent .product-flex-group .stock {
  width: 10%;
  font-size: 14px;
}

.product-table-parent .product-flex-group .price {
  width: 15%;
  font-size: 14px;
}

.product-table-parent .product-flex-group .price:before {
  content: "IDR";
  font-size: 9px;
}

.product-table-parent .product-flex-group:hover {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.product-table-parent .product-flex-group.selected {
  border: 1px solid green;
}

.product-table-parent .product-handle {
  border-radius: 3px;
  padding: 4px 5px;
  width: 32px;
  position: relative;
}

.product-table-parent .product-handle .handle-lines {
  background: #555;
  height: 4px;
  margin: 3px 6px;
  width: 4px;
  border-radius: 50%;
}

.product-table-parent .product-handle .product-options {
  position: absolute;
  background: #fbfbfb;
  top: -5px;
  left: 25px;
  z-index: 5;
  padding: 0px 0;
  font-size: 14px;
  display: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #eee;
}

.product-table-parent .product-handle .product-options li {
  padding: 13px 20px;
  width: 150px;
}

.product-table-parent .product-handle .product-options li:hover {
  background: rgba(220, 220, 220, 0.7);
}

.product-table-parent .product-handle:hover .handle-lines {
  opacity: 0.5;
}

.product-table-parent .product-handle.active .handle-lines {
  opacity: 0.5;
}

.product-table-parent .product-handle.active .product-options {
  display: block;
}

.order-list-parent .order-list-header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  opacity: 0.8;
  font-size: 14px;
  margin-top: 20px;
}

.order-list-parent .order-list-flex {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 7px 10px;
  margin: 10px 0 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  align-items: center;
}

.order-list-parent .order-list-flex .order-date {
  letter-spacing: -1px;
}

.order-list-parent .order-list-flex .total-fee:before {
  content: "IDR";
  font-size: 9px;
  position: absolute;
  right: 101%;
  bottom: 0;
}

.order-list-parent .customer-name {
  width: 180px;
  padding-left: 10px;
}

.order-list-parent .order-date {
  width: 150px;
}

.order-list-parent .order-date .date {
  padding-right: 5px;
}

.order-list-parent .order-number {
  width: 100px;
}

.order-list-parent .payment-method {
  width: 140px;
}

.order-list-parent .total-fee {
  width: 120px;
  position: relative;
}

.order-list-parent .payment-status {
  width: 150px;
  text-align: center;
}

.order-list-parent .payment-status .payment-bg {
  background: #ed5252;
  color: white;
  font-size: 13px;
  padding: 10px;
  border-radius: 3px;
}

.order-list-parent .payment-status .payment-bg.pending {
  background: #5299ed;
}

.order-list-parent .payment-status .payment-bg.accepted {
  background: #73cd6c;
}

.order-list-parent .payment-status .payment-bg.canceled {
  background: #ed5252;
}

.toggle-id {
  display: none;
}

#theme-pallette {
  background: #26262a;
  position: fixed;
  height: 100%;
  width: 280px;
  top: 0;
  left: -220px;
  z-index: 5;
  color: #eee;
  transition: all .3s ease .2s;
  overflow: auto;
  padding-top: 40px;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.85);
}

#theme-pallette .mCSB_inside > .mCSB_container {
  margin-right: 10px;
}

#theme-pallette .pin-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  opacity: 0.5;
  cursor: pointer;
}

#theme-pallette .pin-handle img {
  display: block;
  width: 100%;
}

#theme-pallette .pin-handle.active {
  opacity: 1;
}

#theme-pallette .pallette-header {
  padding: 20px 10px;
  font-size: 20px;
  background: #15171c;
}

#theme-pallette .pallette-header .bg-button {
  float: right;
}

#theme-pallette .settings-flex {
  display: flex;
}

#theme-pallette .settings-flex .flex-module {
  width: 75px;
  height: 65px;
  position: relative;
  cursor: pointer;
  opacity: 1;
  background: rgba(150, 150, 150, 0.1);
  transition: all .3s ease;
}

#theme-pallette .settings-flex .flex-module img {
  width: 23px;
  margin: 13px auto;
  display: block;
  opacity: 0.4;
}

#theme-pallette .settings-flex .flex-module .bottom-title {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 11px;
  opacity: 0.4;
}

#theme-pallette .settings-flex .flex-module:hover, #theme-pallette .settings-flex .flex-module.active {
  opacity: 1;
  background: #26262a;
}

#theme-pallette .settings-flex .flex-module:hover img, #theme-pallette .settings-flex .flex-module.active img {
  opacity: 1;
}

#theme-pallette .settings-flex .flex-module:hover .bottom-title, #theme-pallette .settings-flex .flex-module.active .bottom-title {
  opacity: 1;
}

#theme-pallette .section-parent {
  background: #26262a;
  padding: 10px 0;
  max-height: 80vh;
  display: none;
}

#theme-pallette .section-parent .mCSB_container {
  padding: 0px 0;
}

#theme-pallette .section-parent.active {
  display: block;
}

#theme-pallette .layout-choice {
  background: #eee;
  border-radius: 3px;
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
  cursor: pointer;
  border: 2px solid transparent;
  opacity: 0.5;
}

#theme-pallette .layout-choice img {
  width: 100%;
  display: block;
}

#theme-pallette .layout-choice .layout-class {
  display: none;
}

#theme-pallette .layout-choice:hover {
  opacity: 0.8;
}

#theme-pallette .layout-choice.picked {
  opacity: 1;
}

#theme-pallette:hover {
  left: 0;
}

#theme-pallette.pinned {
  left: 0;
}

#storeNameSettings .size-parent {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 90%;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#storeNameSettings .small {
  font-size: 12px;
  opacity: 0.6;
}

#storeNameSettings .big {
  font-size: 20px;
  opacity: 0.6;
}

#storeNameSettings .font-flex {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  padding: 10px 0;
}

#storeNameSettings .font-flex .font-module {
  font-size: 17px;
  width: 47%;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#storeNameSettings .font-flex .font-module.active:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background: #549855;
  transform: rotateZ(45deg);
  top: -12px;
  right: -12px;
}

#backgroundSettings #bgImgFlex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px auto;
}

#backgroundSettings #bgImgFlex .bg-img-module {
  width: 68px;
  height: 65px;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 10px;
  margin: 0 5px 10px;
}

.color-flex {
  margin: 10px auto;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: rgba(68, 68, 68, 0.59);
  padding: 10px 7px;
  border-radius: 5px;
}

.color-flex .title {
  width: 100%;
  padding-bottom: 10px;
  font-size: 12px;
  padding-left: 5px;
  opacity: 0.6;
}

.color-flex .color-module {
  margin: 0 4px 8px;
  width: 30px;
  height: 30px;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

.color-flex .color-picker {
  margin: 0 4px 8px;
  width: 30px;
  height: 30px;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
  background: #a7cfdf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  /* IE6-9 */
}

.staple-container {
  margin: 10px auto;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: rgba(68, 68, 68, 0.59);
  padding: 10px 5px;
  border-radius: 5px;
}

.staple-container .title {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 12px;
  opacity: 0.6;
}

.staple-container .form-group {
  width: 100%;
  padding: 5px 15px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.staple-container .form-group .caption {
  padding-right: 10px;
  font-size: 14px;
}

.staple-container .form-group .color-module {
  margin: 0 4px 0px;
  width: 20px;
  height: 20px;
  background: #eee;
  cursor: pointer;
  border-radius: 50%;
}

.custom-toggle {
  width: 60px;
  background: #888;
  position: relative;
  font-size: 12px;
  height: 26px;
  border-radius: 35px;
  color: white;
  overflow: hidden;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition: background .3s ease;
}

.custom-toggle .toggle-belt {
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: center;
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s cubic-bezier(0.81, -0.01, 0.25, 1);
  cursor: pointer;
}

.custom-toggle .toggle-ball {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 0 7px 0 12px;
  background: #eee;
  transition: all .3s ease;
}

.custom-toggle.active {
  background: #eee;
  color: #333;
}

.custom-toggle.active .toggle-belt {
  left: -1px;
}

.custom-toggle.active .toggle-ball {
  background: #333;
}

.custom-range-slider {
  width: 75%;
  height: 3px;
  box-sizing: border-box;
  background: #888;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

.custom-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background: #fff;
  cursor: pointer;
}

.custom-range-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.container {
  width: 1000px;
  margin: auto;
  position: relative;
}

.main-store {
  min-height: 100vh;
  background: #f5f5f5;
  padding-bottom: 10px;
  background-size: 20%;
}

.main-store .main-header {
  font-size: 40px;
  margin: auto;
  text-align: center;
  padding: 50px 0;
}

.main-store .main-navigation {
  display: flex;
  flex-wrap: wrap;
}

.main-store .main-navigation .nav-module {
  padding: 5px 13px;
  transition: all .3s ease;
  font-size: 18px;
}

.main-store .main-navigation .nav-module:hover {
  opacity: 0.8;
}

.main-store .product-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}

.main-store .product-flex .product-module {
  padding: 5px;
  margin-bottom: 20px;
  width: 230px;
  font-family: 'Crimson Text';
  font-size: 20px;
  transition: opacity .3s ease;
  background: #fafafa;
  cursor: pointer;
  position: relative;
}

.main-store .product-flex .product-module .product-detail {
  padding: 5px 15px;
  background: white;
}

.main-store .product-flex .product-module .product-detail.hover-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 45% 0;
  background: transparent;
  transition: background .3s ease;
  color: transparent;
}

.main-store .product-flex .product-module .product-name {
  font-family: Calibri;
}

.main-store .product-flex .product-module .product-price {
  font-family: Calibri;
}

.main-store .product-flex .product-module .unit {
  font-family: Calibri;
  font-size: 12px;
}

.main-store .product-flex .product-module img {
  display: block;
  max-width: 100%;
}

.main-store .product-flex .product-module:hover .product-detail.hover-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 45% 0;
  background: rgba(255, 255, 255, 0.8);
  transition: all .3s ease;
  color: black;
}

.product-flex.shadow .product-module {
  box-shadow: 3px 3px 1px 2px rgba(0, 0, 0, 0.5);
}

.product-flex#lay-4 .product-module {
  width: 230px;
}

.product-flex#lay-4:after {
  content: "";
  width: 490px;
  display: block;
}

.product-flex#lay-3 .product-module {
  width: 310px;
}

.product-flex#lay-3:after {
  content: "";
  width: 310px;
  display: block;
}

.product-flex#lay-2 .product-module {
  width: 480px;
  margin-bottom: 40px;
}

.product-flex#lay-e {
  width: 500px;
  margin: auto;
}

.product-flex#lay-e .product-module:first-child {
  width: 100%;
}

.product-flex#lay-e .product-module {
  width: 230px;
}

.product-flex#lay-f {
  width: 500px;
  margin: auto;
}

.product-flex#lay-f .product-module {
  width: 100%;
}

.footer-general {
  background: #1a1a1a;
  color: white;
}

.footer-general .container {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
}

.footer-general img {
  width: 70px;
  margin-left: 10px;
  opacity: 0.8;
}
